# Application environment
# production or development
SUPERKIT_ENV=development

# Application name
APP_NAME=Messages

# HTTP listen port of the application

# Use localhost:3001 for development to avoid firewall alerts for every binary change
HTTP_LISTEN_ADDR=localhost:3001
#HTTP_LISTEN_ADDR=:3001 # for production

# Database configuration
DB_DRIVER=sqlite3
DB_USER=
DB_HOST=
DB_PASSWORD=
DB_NAME=db/app.db

MIGRATION_DIR=app/db/migrations

# Application secret used to secure your sessions.
# The secret will be auto generated on install.
# If you still want to change it make sure its at
# least 32 bytes long.
# NOTE: You might want to change this secret when using
# your app in production.
SUPERKIT_SECRET=

# Authentication Plugin
SUPERKIT_AUTH_REDIRECT_AFTER_LOGIN=/
SUPERKIT_AUTH_SESSION_EXPIRY_IN_HOURS=48
# Skip user email verification
SUPERKIT_AUTH_SKIP_VERIFY=true
